<div class="card">

  <header class="card-header">
    <p class="card-header-title">
      MQTT Connection
    </p>
  </header>

  <div class="card-content">
    <div class="content">

      <div class="field">
        <label class="label">Hostname</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="mqttSettings.hostname" (ngModelChange)="saveSetting('hostname')" data-index="1"  autocorrect="off" autocapitalize="none">
        </div>
      </div>
      <div class="field">
        <label class="label">Port</label>
        <div class="control">
          <input class="input" type="number" [(ngModel)]="mqttSettings.port" (ngModelChange)="saveSetting('port')" data-index="2" pattern="[0-9]*">
        </div>
      </div>

      <div class="field">
        <label class="label">Protocol</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="mqttSettings.protocol" (ngModelChange)="saveSetting('protocol')" data-index="3">
              <option *ngFor="let protocol of protocols">{{protocol}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Path</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="mqttSettings.path" (ngModelChange)="saveSetting('path')" data-index="4"  autocorrect="off" autocapitalize="none" type="url">
        </div>
      </div>
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="mqttSettings.username" (ngModelChange)="saveSetting('username')" data-index="5" autocorrect="off" autocapitalize="none">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" [(ngModel)]="mqttSettings.password" (ngModelChange)="saveSetting('password')" data-index="6">
        </div>
      </div>

      <div class="field">
        <label class="label">Discovery Prefix</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="deviceSettings.prefix" (ngModelChange)="saveDeviceSetting('prefix')" data-index="7">
        </div>
      </div>

    </div>
    <footer class="card-footer">
      <a href="#" (click)="refresh()" class="button">Connect</a>
    </footer>
  </div>
