.buttons {
  display: flex;
  margin-bottom: 0.2rem;
}

.button {
  margin-bottom: 0.1rem;
  list-style-type: none;
}

button:focus {outline:0 !important;}

.button-fill {
  flex: 1;
  justify-content: flex-start;
}

.sensor-button {
  background-color: #282f2f;
  border-color: #8c9b9d;
}

.card-footer {
  padding: 20px;
}

.card-footer .button {
  margin-right: 10px;
}

.field-body {
  margin-right: 10px;
}
