<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Devices
    </p>
  </header>

  <div class="card-content">
    <div class="content">

      <ng-container *ngFor="let device of devices">
        <ul>
          <li>name: {{device.name}}</li>
          <li>configTopic: {{device.configTopic}}</li>
          <li>cmd: {{device.commandTopic}}</li>
          <li>stat: {{device.stateTopic}}</li>
          <li>units: {{device.unitOfMeasurement}}</li>
          <li>jsonPath: {{device.jsonPath}}</li>
          <li>state: {{device.state}}</li>
        </ul>

      </ng-container>

    </div>
  </div>
  <footer class="card-footer">
  </footer>
</div>
