<!-- mobile -->
<div class="dropdown is-hidden-tablet" #mobileMenu>

  <div class="dropdown-trigger">

    <a role="button" (click)="toggleNavbar()" class="navbar-burger" #navBurger>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item" routerLinkActive="is-active" (click)="toggleNavbar()" routerLink="/identity">Configuration</a>
      <a class="dropdown-item" routerLinkActive="is-active" (click)="toggleNavbar()" routerLink="/control">Control</a>
      <a class="dropdown-item" routerLinkActive="is-active" (click)="toggleNavbar()" routerLink="/subscribe">Subscribe</a>
      <a class="dropdown-item" routerLinkActive="is-active" (click)="toggleNavbar()" routerLink="/publish">Publish</a>
      <a class="dropdown-item" routerLinkActive="is-active" (click)="toggleNavbar()" routerLink="/docs">Documentation</a>
    </div>
  </div>


</div>

<!-- desktop -->
<div class="tabs is-boxed is-hidden-mobile">
  <ul>
    <li routerLinkActive="is-active"><a routerLink="/identity">Configuration</a></li>
    <li routerLinkActive="is-active"><a routerLink="/control">Control</a></li>
    <li routerLinkActive="is-active"><a routerLink="/subscribe">Subscribe</a></li>
    <li routerLinkActive="is-active"><a routerLink="/publish">Publish</a></li>
    <li routerLinkActive="is-active"><a routerLink="/docs">Documentation</a></li>
  </ul>

</div>
