/* You can add global styles to this file, and also import other style files */
.card {
  max-width: 1000px  !important;
  margin: 20px;
}

hr {
  margin: 0;
}

/* Images for docs */
img {
   padding:1px;
   border:1px solid WHITE;
   border-radius: 8px;
}
